@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

:root{
  --purple: hsl(287, 60%, 67%);
  --gray: hsl(0, 0%, 50%);
  --dark-grayish-blue: hsl(218, 12%, 18%);
  --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Fira Code', sans-serif;
}

.home{
  margin-top: 70px;
}

.name{
  color: var(--White);
  font-size: 25px;
  margin: 15px; 
}

span{
  color: var(--purple);
  font-size: 20px;
}

.para{
  color: var(--gray);
  font-size: 18px;
  margin: 15px;
  margin-bottom: 30px;
}

.contact{
  text-decoration: none;
  color: var(--White);
  margin: 18px;
  padding: 15px;
  border: 1px solid var(--purple);
}

.contact:hover{
  background-color: var(--gray);
}

.img img{
  width: 100%;
  margin-top: 50px;
}

.pro{
  display: flex;
  justify-content: space-between;
  margin: 15px;
}


.pspan{
  color: var(--purple);
  position: relative;
}

.line2::before {
  content: '';
  position: absolute;
  left: 110%;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--purple); 
}
.projects2{
  color: var(--White);
}

.view{
  text-decoration: none;
  color: var(--White);
}

.view:hover{
  color: var(--purple);
}

.card{
  background-color: var(--dark-grayish-blue);
  margin: 10px;
  padding: 15px;
  width: 350px;
  border: 1px solid var(--White)
}

.card:hover{
  Cursor: pointer;
  Transform: scale(105%)
}

.image img{
  width: 100%;
}

.para1{
  color: var(--gray);
  margin-top: 10px;
}

hr {
  border: none; 
  height: 2px; 
  background-color: var(--White); 
  margin: 5px 0; 
  
}

.title{
  color: var(--White);
  /* border-top: 1px solid white; */
}

.para2{
  color: var(--gray);
}

.link{
  text-decoration: none;
  color: var(--White);
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--purple);
  width: 35%;
}

.link:hover{
  background-color: hsl(284, 9%, 42%);
}

.skills{
  margin-top: 20px;
}

.skills{
  margin: 15px;
}

.skills2 img{
  width: 90%;
}

.pspan2{
  color: var(--purple);
  position: relative;
}

.line3::before {
  content: '';
  position: absolute;
  left: 30%;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: var(--purple); 
}

/* Style for the tables */
.main{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 20px;
}


.picture img{
  width: 100%;
}

.category{
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  padding: 4px;
  box-sizing: border-box;
}


 .data{
  font-weight: 700;
  font-size: 18px;
  color: var(--White);
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  width: 100%;
}

.item{
  color: var(--gray);
}

.about1{
  position: relative;
  margin: 15px;
  color: var(--purple);
}

.about3{
  color: var(--White);
}

.line4::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 60%;
  width: 30%;
  height: 1px;
  background-color: var(--purple); 
}

.lorem2{
  color: var(--gray);
  font-size: 15px;
  margin: 15px;
  margin-bottom: 25px;
}

.all{
  text-decoration: none;
  color: var(--White);
  border: 1px solid var(--purple);
  margin: 15px;
  padding: 10px;
}

.all:hover{
  background-color: var(--gray);
}

.con1 {
  position: relative;
  color: var(--purple);
  margin: 15px;
}

.line5::before {
  content: '';
  position: absolute;
  left: 40%;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: var(--purple); 
}

.contact-text1 {
  color: var(--White);
}

.who2{
  display: none;
}

.hey1{
  color: var(--gray);
  margin: 18px;
  font-size: 15px;
}

.here1{
  width: 300px;
  margin: 25px;
  padding: 10px;
  border: 1px solid var(--gray);
}

.message1{
  color: var(--White);
  text-align: center;
  font-size: 18px;
}

.tweetss{
  text-decoration: none;
  color: var(--gray);
  font-size: 15px;
  margin: 10px;
}

.tweetss:hover{
  color: var(--purple);
}

@media (min-width: 768px){
  .home{
    display: flex;
    justify-content: space-between;
  }

  .home2{
    width: 60%;
    margin-top: 80px;
  }
  
  .img{
    width: 40%;
  }

  .contact{
    padding: 8px;
  }

  .projects{
    margin-top: 100px;
  }

  .pspan{
    color: var(--purple);
    position: relative;
    font-size: 35px;
  }
  
  .line2::before {
    left: 110%;
    top: 55%;
    width: 300%; 
  }

  .projects2{
    font-size: 30px;
  }

  .view{
    margin-top: 18px;
  }

  .card5{
    display: flex;
    justify-content: space-between;
  }

  .skills{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .pspan2{
    color: var(--purple);
    position: relative;
    font-size: 35px;
  }
  
  .line3::before {
    left: 13%;
    top: 50%;
    width: 30%; 
  }

  .projects2{
    font-size: 30px;
  }
  

.main {
  display: flex;
  /* align-items: flex-start; */
}

.picture {
  flex-basis: 40%; 
  margin-right: 100px;
}

.category{
  padding: 0.8px;
}

.flex-container,
.flex-container2 {
  flex-basis: 20%; 
}

.abouts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.abouts1{
  width: 40%;
  margin-right: 50px;
  margin-top: 80px;
}

.all{
  padding: 5px;
}

.imgs .pic{
  margin-top: 30px;
  width: 60%;
}

.interest1{
  display: flex;
  justify-content: space-between;
}

.hey1{
  margin-right: 200px;
  width: 50%;
}

.here1{
  padding: 5px;
  width: 200px;
}

.message1{
  font-size: 15px;
}

.tweetss{
  font-size: 10px;
}

}